.DS_Store
*.aux
*.synctex.gz
*.log
*.out
*.dvi
*.fls
*.ptb
*.fdb_latexmk
*.bbl
*.blg
*.dpth
*.md5
*.auxlock
.~lock*
*~
*.class

*.hi
*.o

*figure*.pdf

.diagrams_cache/
*-diagrams-latex-fig*.*

_minted-*
